In [1]:
#1.Unique Words in a Sentence
s=input().split()
wrds=set(s)
for w in s:
  if s.count(w)==1:
    wrds.add(w)
print(wrds,len(wrds))

happy are those who are well
{'those', 'happy', 'are', 'who', 'well'} 5

In [2]:
#2.Highest Salary from Employee Data
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000}
max_employee=max(employees, key=employees.get)
print("Highest Salary:",max_employee,"-",employees[max_employee])

Highest Salary: Ravi - 75000

In [3]:
#3.Maximum and Minimum
numbers=[45, 22, 89, 10, 66]
numbers.sort()
print("Maximum:",numbers[-1])
print("Minimum:",numbers[0])

Maximum: 89
Minimum: 10

In [4]:
#4.Count Products Above a Price Threshold
prices=[450,1200,899,1500,300]
cnt=0
for p in prices:
  if p>=1000:
    cnt+=1
print("Products above 1000:",cnt)

Products above 1000: 2

In [6]:
#5.Calculate Attendance Percentage
attendance=["P","P","A","P","P"]
cnt=0
for ch in attendance:
  if ch=="P":
    cnt+=1
print("Attendance Percentage:",(cnt/len(attendance))*100)

Attendance Percentage: 80.0

In [7]:
#6.Remove Duplicate Phone Numbers
phone_numbers = [9876543210, 9123456789, 9876543210]
print(set(phone_numbers))

{9876543210, 9123456789}

In [8]:
#7.Count Character Frequency
s=input()
d={}
for ch in s:
  if ch in d:
    d[ch]+=1
  else:
    d[ch]=1
print(d)

hap
{'h': 1, 'a': 1, 'p': 1}

In [9]:
#8.Convert List to Tuple
l=[1,2,3,4]
print(tuple(l))

(1, 2, 3, 4)

In [ ]:
#9.Check if a Key Exists in a Dictionary
employee={
    "id": 101,
    "name": "John",
    "department": "HR"
}
key="name"
if key in employee:
    print("Employee exists")
else:
    print("Employee does not exist")

In [10]:
#10.Calculate Average Marks
marks=[95,89,65,79,92]
print("Average Marks:",sum(marks)/len(marks))

Average Marks: 84.0